<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.test2.dao.IClassesDao">
    <!-- 定义结果映射 resultMap -->
    <resultMap id="rm_classes" type="com.test2.bean.Classes">
        <id property="cid" column="cid" />
        <result property="cname" column="cname" />
        <collection property="students" column="cid" select="com.test2.dao.IStudentDao.queryStudentByCid"/>
    </resultMap>

    <select id="queryClassesByCid" resultMap="rm_classes" parameterType="int">
        SELECT * FROM tab_classes WHERE cid = #{cid}
    </select>
</mapper>
